@import "./variables&functions";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-horizontally{
    @include centering(50%, horizontal_);
}
.center-vertically{
    @include centering(50%, vertical_);
}
.center-middle{
    @include centering(50%, center_);
}

.transition{
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}


body{
    font-family: 'Nunito', sans-serif;
    

    a{
        text-decoration: none;
    }

    header{
        overflow: hidden;
    }
}




.flex{
    display: flex;
    
    &:s-b{
        justify-content: space-between;
    }
    &:s-a{
        justify-content: space-around;
    }
    &:s-e{
        justify-content: space-evenly;
    }
}



